In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [26]:
df = pd.read_csv("installments_payments.csv")
dfjoin = pd.read_csv("application_train.csv")
df = df.merge(dfjoin[["SK_ID_CURR","TARGET"]],how="left",on="SK_ID_CURR")

In [27]:
df=df.dropna()
df.describe()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,TARGET
count,11589009.00000,11589009.00000,11589009.00000,11589009.00000,11589009.00000,11589009.00000,11589009.00000,11589009.00000,11589009.00000
mean,1903551.87296,278533.39426,0.85084,18.72552,-1041.13992,-1049.89800,16918.12265,17076.92790,0.07590
std,536235.00526,102641.00592,0.99989,26.48795,799.47958,799.07898,50330.28666,54456.28189,0.26485
min,1000001.00000,100002.00000,0.00000,1.00000,-2922.00000,-4921.00000,0.00000,0.00000,0.00000
25%,1434515.00000,189719.00000,0.00000,4.00000,-1654.00000,-1663.00000,4205.25000,3378.37500,0.00000
50%,1896643.00000,278828.00000,1.00000,8.00000,-820.00000,-829.00000,8788.81500,8095.41000,0.00000
75%,2369256.00000,367507.00000,1.00000,19.00000,-359.00000,-368.00000,16555.59000,15931.93500,0.00000
max,2843499.00000,456255.00000,52.00000,277.00000,-1.00000,-1.00000,3771487.84500,3771487.84500,1.00000

In [28]:
df.corr()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,TARGET
SK_ID_PREV,1.00000,0.00261,0.00200,-0.00191,0.00314,0.00312,0.00218,0.00206,-0.00022
SK_ID_CURR,0.00261,1.00000,0.00136,-0.00080,0.00162,0.00164,-0.00017,0.00001,-0.00254
NUM_INSTALMENT_VERSION,0.00200,0.00136,1.00000,-0.33185,0.13094,0.12859,0.17194,0.17993,-0.01015
NUM_INSTALMENT_NUMBER,-0.00191,-0.00080,-0.33185,1.00000,0.09268,0.09668,-0.08897,-0.08688,-0.01626
DAYS_INSTALMENT,0.00314,0.00162,0.13094,0.09268,1.00000,0.99947,0.12866,0.12941,0.03484
DAYS_ENTRY_PAYMENT,0.00312,0.00164,0.12859,0.09668,0.99947,1.00000,0.12825,0.12899,0.03512
AMT_INSTALMENT,0.00218,-0.00017,0.17194,-0.08897,0.12866,0.12825,1.00000,0.93742,-0.00152
AMT_PAYMENT,0.00206,0.00001,0.17993,-0.08688,0.12941,0.12899,0.93742,1.00000,-0.00362
TARGET,-0.00022,-0.00254,-0.01015,-0.01626,0.03484,0.03512,-0.00152,-0.00362,1.00000

In [36]:
dfg=df.groupby("SK_ID_CURR",as_index=False).agg({"DAYS_INSTALMENT":"mean",
                            "DAYS_ENTRY_PAYMENT":"mean","TARGET":"min"})

In [38]:
dfg[["SK_ID_CURR","DAYS_INSTALMENT","DAYS_ENTRY_PAYMENT"]]

   SK_ID_CURR  DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT
0      100002       -295.00000          -315.42105
1      100003      -1378.16000         -1385.32000
2      100004       -754.00000          -761.66667
3      100006       -252.25000          -271.62500
4      100007      -1028.60606         -1032.24242

In [40]:
dfg.to_csv("installment.csv")